#body {
  padding: 5px;
}

.navbar {
  background-color: #049439;
 } 

hr {
  border-color: #049439;
  border-width: 1px;
  margin-right: 50%;
}


p {
  width: 75%;
}

h4 {
  font-size: 1em;
  margin-bottom: 4px;
}

em {
  color: #28e06c;
}

h1 {
  color: #28e06c;
}

.section-header {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 8px;
}

.card {
  max-width: 100%;
}

.card-header {
 background-color: #28e06c;
}

.card-body {
  background-color: #049439;
}

.list-group-item{
  background-color: #049439;
}

input[type="text"]  {
  background-color: #049439;
  color: #28e06c;
}

input[type="text"]:focus {
  background-color: #28e06c;
}

.input-group-text {
  background-color: #28e06c;
  width: 94px;
}

.button-margin {
  margin-bottom: 1em;
}

.button-group-collapse > button {
  margin-bottom: 1em;
}

body {
  background: #6c4191;
  font-family: "Special Elite", cursive;
}
